#numbersInput { width: 50%; }

#unsorted
{
  	background-color: greenyellow ;
}
#sorted
{
  	background-color: red ;
}

#separationBar
{
	background-color: black ;
	padding: 1px ;
	width: 10;
	height: 10;
}